* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Share Tech Mono', monospace;
  overflow: hidden;
}

#board {
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.boardInfo {
  max-width: 500px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#scoreBoard {
  display: inline-flex;
}

#start {
  font-size: 25px;
  background-color: #f35a69;
  color: #fff;
  border: none;
  cursor: pointer;
}

#gameOver {
  display: none;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.controls {
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls button {
  width: 50px;
  height: 50px;
  font-size: inherit;
  background-color: #f35a69;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.square {
  aspect-ratio: 1;
}

.snakeSquare {
  background-color: #ccf47f;
}

.foodSquare {
  background-color: #f81a3b;
}

.emptySquare {
  background-color: #456990;
}
